body{
  background-color: #D9A49E;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;


}

html{
  height: 100%;
  width: 100%;
}

.img{
width: 230px;
height: 50px;
margin-top: 370px;
margin-left: 130px;
opacity: 0.3;
}

.img1{
position: absolute;
width: 180px;
height: 85px;
left: -8px;
top:-10px;
opacity: 0.2;
}

.barre {
  position:absolute;
  top:30%;
  width:100%;
  height:100px;
  transform: skew(0deg, 140deg);
  border-top:3px solid white;
}

h1{
color: white;
font-size: 46px;
margin-top: 0%;
position: absolute;
left: 550px;
font-weight: 300;
}

.titre{
color: #4EA5AD;
font-size: 30px;
margin-top: 55px;
position: absolute;
left: 556px;
font-weight: 300;
text-shadow: 0 0 0.2em;
}

h3{
  font-size: 20px;
  text-align: center;
  left: 200px;
  position: absolute;
  top: 110px;
  color: #163A6D;
  font-weight: 300;
}

.presentation{
  font-size: 16px;
text-align: center;
  left: 40px;
  position: absolute;
  top: 165px;
  color: white;
  font-weight: 400;
}

.contact{
  position: absolute;
  right: 26px;
  top: 0px;
  color: #163A6D;
  font-weight: 300;
  font-size: 20px;
}

.cont{
  position: absolute;
  right: 30px;
  top: 50px;
  text-align: center;
  color: white;

}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(-300px);
  }

  to {
    opacity: 1;
    transform: translate3d(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-duration: 10s;
}


.experiences{
  position: absolute;
  right: 26px;
  top: 170px;
  color: #163A6D;
  font-weight: 300;
  font-size: 20px;

}

.exp{
  position: absolute;
  right: 50px;
  top: 300px;
  text-align: center;
  color: white;
}

.formation{
  position: absolute;
  right: 26px;
  top: 450px;
  color: #163A6D;
  font-weight: 300;
  font-size: 20px;
}

.form{
  position: absolute;
  right: 100px;
  top: 550px;
  color: white;
  text-align: center;
}


.atouts{
  position: absolute;
  right: 26px;
  top: 700px;
  color: #163A6D;
  font-weight: 300;
  font-size: 20px;
}

.atou{
  position: absolute;
  right: 60px;
  top: 780px;
  color: white;
}


.barre2 {
  position:absolute;
  top:0%;
  width:10%;
  height:10px;
  right: 310px;
  transform: skew(180deg);
  border-top:3px solid white;
}

.barre3 {
  position:absolute;
  top:28%;
  width:10%;
  height:10px;
  right: 524px;
  transform: skew(180deg);
  border-top:3px solid white;
}

.icon2{
  position: absolute;
  right: 560px;
  top:22%;
  height: 30px;
  width: 30px;
  opacity: 0.3;
}

.barre4 {
  position:absolute;
  top:70%;
  width:10%;
  height:10px;
  left: 364px;
  transform: skew(180deg);
  border-top:3px solid white;
}


.icon1{
  position: absolute;
  left: 420px;
  top:63%;
  height: 50px;
  width: 50px;
  opacity: 0.2;
}

.barre5 {
  position:absolute;
  top:105%;
  width:10%;
  height:10px;
  left: 92px;
  transform: skew(180deg);
  border-top:3px solid white;
}

.icon3{
  position: absolute;
  left: 158px;
  top: 98%;
  height: 40px;
  width: 40px;
  opacity: 0.3;
}

.icon4{
  display: none;
  position: relative;
  height: 35px;
  width: 35px;
  opacity: 0.2;
}
